doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    block scripts
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    block content
